{% extends 'dashboardv2.html' %}

{% block content%}
<div class="d-flex flex-column" style="height: 100%;  width: 100%;">
	<div class="container-fluid row group-dashboard-header-bar">
		<h1>{% block title %} Submissions {% endblock %}</h1>
	</div>

	<div class="container" style="height: 100%;  width: 100%;  padding: 20px;">
		<div id="listheader" class="row "
			style="min-height:70px; margin:0px; background-color: white; padding: 30px 0px; border-top-left-radius: 10px;border-top-right-radius: 10px;box-shadow: 0px 2px 6px rgba(57, 62, 70, 0.5);  ">
			<div class="col-2 group-dashboard-submissions-header-text">
				<i class="fas fa-at" style="margin: 0px 5px 0px 0px"></i>ID
			</div>
			<div class="col-3 group-dashboard-submissions-header-text">
				<i class="far fa-calendar-alt" style="margin: 0px 5px 0px 0px"></i>Submitted At
			</div>
			<div class="col-4 group-dashboard-submissions-header-text">
				<i class="far fa-hourglass" style="margin: 0px 5px 0px 0px"></i>QPU Access Time
			</div>
			<div class="col-3 group-dashboard-submissions-header-text">
				<i class="fas fa-search" style="margin: 0px 5px 0px 0px"></i>Inspect
			</div>
		</div>

		<div id="listozza" class="container-fluid overflow-auto"
			style="height:80%; width:100%; background-color:white; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; padding: 0px;box-shadow: 0px 5px 5px rgba(57, 62, 70, 0.5);  ">
			<div class="container" style="width: 30%;height: 3px; background-color: grey; border-radius: 2px;"></div>
			<div id="listitem" class="row "
				style="height:70px;  margin:0px;  border-radius: 10px; z-index:-999;position:absolute;  ">
				<div class="col-2 item-submission-id  group-dashboard-submissions-id-text">
					ID
				</div>
				<div class="col-3 item-submission-at  group-dashboard-submissions-id-text ">
					Submitted At
				</div>
				<div class="col-4  align-items-center" style="text-align: center;margin: auto;">
					<span class="item-submission-time-s group-dashboard-submissions-time-number-text">0</span>
					<span class="group-dashboard-submissions-time-unit-text">s</span>
					<span class="item-submission-time-ms group-dashboard-submissions-time-number-text">0</span>
					<span class="group-dashboard-submissions-time-unit-text">ms</span>
					<span class="item-submission-time-us group-dashboard-submissions-time-number-text">0</span>
					<span class="group-dashboard-submissions-time-unit-text">us</span>
				</div>
				<div class="col-3  " style="text-align: center;margin: auto;">
					<button class="btn" style="background-color: DodgerBlue; width: 50px;cursor: pointer;"><i
							class="fas fa-play" style="color: white;"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename= 'scripts/group_submissions.js') }}"></script>
{% endblock %}